body{
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    display: -ms-grid; /* IE Flexbox fallback */
    display: flex;
    flex-direction: column;
}

.container-content {
    flex: 1;
}

.title{
    width: 50%;
    left: 0;
    margin: 0 auto;
    transform: translateX(50%);
    bottom: 3px;
    background-size: cover;
    opacity: 0;
    animation: TitleFly 1s ease forwards;
}

@keyframes TitleFly {
    from {
      transform: translateY(-250%);
      opacity: 0;
    }
    to {
      transform: translateX(50%);
      opacity: 1;
    }
}

.ltsj666{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopS{
    position: fixed;
    display: -ms-flexbox; /* IE Flexbox fallback */
    display: flex;
    flex-wrap: nowrap;
    backdrop-filter: blur(8px); /* 考虑非支持浏览器的替代方案 */
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    z-index: 100;
    top: 0;
}

.TopS>.TextMap{
    writing-mode: horizontal-tb;
    margin-left: 20%;
    font-family: 'DyhFont',sans-serif;
    font-size: 180%;
    position: relative;
}

.TopS>.TextMap>.mian{
    transform: translateY(7.6180339887%);
    text-decoration: none;
    color: white;
    font-size: 160%;
}

.TopS::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1.2px;
    background-color: white;
    bottom: -1.2px;
    left: 0;
}

.icon>img{
    height: 65px;
}

@font-face {
    font-family: 
    'SmileySans'
    'Arial', /* 无衬线字体，Windows上非常常见 */
    'Helvetica', /* 另一种广泛使用的无衬线字体，MacOS偏好 */
    'Verdana', /* 清晰易读的无衬线字体，适合小字号 */
    'sans-serif'; /* 如果以上都不可用，则使用系统默认的无衬线字体 */;
    src: url('https://genshinzmnl.github.io/GameDZH-on-Web/font/SmileySans-Oblique.otf') format('opentype'), /* 新增OTF格式 */
         url('https://genshinzmnl.github.io/GameDZH-on-Web/font/dyh.ttf.woff2') format('woff2'), /* 保留WOFF2格式 */
         url('https://genshinzmnl.github.io/GameDZH-on-Web/font/dyh.ttf') format('truetype'); /* 保留TTF格式作为额外备选 */
    font-weight: normal;
    font-style: oblique; /* 或normal，根据字体的实际样式 */
}


.footer{
    background-color: #16171b;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size:50%;
    padding: 10px;
    text-align: center;
    /* 页脚样式 */
    width: 100%;
    padding: 20px 0;
}

.tyl{
    color: #66ccff;
}

.ddy{
    border-radius: 500px;
    background: #f6d126;
    padding: 18px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    left: -45px; /* 向左偏移2像素 */
}

.gjs{
    border-radius: 500px;
    background: #f6d126;
    padding: 18px;
    text-decoration: none;
    font-size: 25px;
}

a:link{
    color: #66CCFF;
}

a:visited{
    color: #66CCFF;
}

a:hover{
    color: #66CCFF;
}

@media (max-width: 720px) {
    .title {
      width: 100%; /* 或者更适应移动设备的宽度 */
      left: initial; /* 取消原有的left定位 */
      transform: translateY(0.618px);
    }
    .TopS>.TextMap>.mian{
        text-decoration: none;
        color: white;
        font-size: 135%;
    }
    @keyframes TitleFly {
        from {
          transform: translateX(-100%);
          transform: translateY(-250%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
  }

  .ltsj666 {
    height: calc(95vh - 90px); /* 假设导航栏和页脚总高度为100px */
    display: flex;
    justify-content: center;
    align-items: center; /* 让内容垂直居中，如果不需居中可以删除这两行 */
}